.certificate-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.certificate-container {
  width: 80%;
  max-width: 800px;
  padding: 40px;
  text-align: center;
  border: 10px solid #007bff;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.certificate-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.certificate-text {
  font-size: 1.25rem;
  margin: 10px 0;
}

.employee-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.course-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.signature-section {
  margin-top: 30px;
}

.signature {
  font-size: 1rem;
  font-style: italic;
  
}
